@model FoodShop.Data.Models.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Add</h2>
<br />
@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{

    @Html.LabelFor(x => x.CategoryName)
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryName,"",new {@style="color:red" })
    <hr />
    @Html.LabelFor(x => x.CategoryDesc)
    @Html.TextBoxFor(x => x.CategoryDesc, new { @class = "form-control" })
    <hr />
 <button class="btn-sm btn-primary">Save</button>


}

